
/*Initial Heigth */
html,body{height: 100%;}

body
{
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #ffdb00, #000000);
    padding:0;
    margin: 0px;
    font-family: 'Signika', sans-serif;
}



.box
{
    top: 50%;
    left: 50%;

    background: ghostwhite;
    position: absolute;
    border-radius: 8px;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 520px;
    padding: 40px 0px;
    box-shadow: 0 1px 4px black, 0 0 20px black;
}

.left
{
    width: 50%;
    float: left;
}
.right
{
    width: 50%;
    float: right;
    text-align: center;
}


.input
{
    border-radius: 20px;
    box-shadow: 0 2px 20px 0 black;
    padding: 10px 25px;
    margin: 20px;
}
input[type=user], input[type=date], input[type=email], input[type=password], input[type=text]
{
    background: transparent;
    border: none;
    outline: none;

} 

input[type=submit]
{
    padding: 10px 50px;
    border-radius:20px;
    border: none;
    color:white;
    font-weight: 500;
    font-size:14px;
    outline: none;
    background-image: linear-gradient(to bottom right,yellow,#ffdb00); 
    color: black;
    text-decoration: bold; 
    cursor:pointer;
    margin-left: 250px;
    font-weight: bold;
} 

input:checked{
  background: yellow;
}

h5
{
    text-align: center;
    display: inline;
}

h3
{
    text-align: center;
}

.icons
{
    color: #ffdb00;
    font-size: 20px;
}

