*
{padding: 0px;margin: 0px;box-sizing: border-box;}

html,body
{height: 100%;}

.blococontato
{
    min-height: 100%;
    padding-top: 94px;
}

.Contact
{background-image: url(../Imagens/Contato/Contato01.jpg);background-repeat: no-repeat;background-size: cover;}


.bloquinho
{min-height: 100%;padding-top: 94px;}


/*Initial Color*/
.yellow-logo
{
    background-color: #ffdb00;
}

.btn-large:hover 
{
    background-color:#ffdb00;
}
/*Final Color*/

/*Initial Contact*/

.caixinha
{position: absolute;margin-top:330px;left: 50%;transform: translate(-50%,-50%);width: 400px;padding: 40px;background: rgba(0,0,0,.8);
box-sizing: border-box;box-shadow: 0 15px 25px rgba(0,0,0,.5);border-radius: 10px;}

.caixinha h2
{margin: 0 0 30px;padding: 0;color: #ffdb00;text-align: center;font-size: 30px;}

.caixinha .inputBox label 
{color: yellow;}

.button_send
{margin-top: 20px;}

.caixinha .inputBox input
{width: 100%;padding: 10px 0;font-size: 20px;color: #fff;margin-bottom: 30px;}

.caixinha .inputBox textarea
{color:#fff;}

.caixinha textarea
{border-bottom: 1px solid #ffdb00;box-shadow: 0 1px 0 0 yellow;}

.caixinha .inputBox input[type=text]:focus + label, 
.caixinha .inputBox input[type=password]:focus + label,
.caixinha .inputBox input[type=email]:focus + label,
.caixinha .inputBox textarea:focus + label
{color: yellow;}

.caixinha .inputBox input[type=text]:focus,
.caixinha .inputBox input[type=password]:focus,
.caixinha .inputBox input[type=email]:focus,
.caixinha .inputBox textarea:focus
{border-bottom: 1px solid #ffdb00;box-shadow: 0 1px 0 0 yellow;}

.caixinha .inputBox input[type=text].valid,
.caixinha .inputBox input[type=password].valid, 
.caixinha .inputBox input[type=email].valid,
.caixinha .inputBox textarea.valid
{border-bottom: 1px solid #ffdb00;box-shadow: 0 1px 0 0 yellow;}

[type="checkbox"].boxsendnoti:checked + label:after 
{top: 0;width: 20px;height: 20px;border: 2px solid #ffdb00;background-color: black;z-index: 0;}

[type="checkbox"].boxsendnoti:not(:checked) + label:after 
{height: 20px;width: 20px;background-color: transparent;border: 2px solid #ffdb00;top: 0px;z-index: 0;}

#btnbutton
{font-size: 20px;width: 230px;height: 45px;border-radius: 4px;cursor:pointer;font-family: lato;margin-left: 45px;}

input
{background-color:transparent;border: none;}

.button-form
{background-color: transparent;border: 2px solid #fdb00f;color:yellow;-webkit-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;position: relative;}

.button-form .bg-height 
{background-color: yellow;position: absolute;left: 0;right: 0;top: 50%;bottom: 0;height: 0%;-webkit-box-align: center;
-ms-flex-align: center;align-items: center;-webkit-transition: height .3s, top .3s;transition: height .3s, top .3s;}

.button-form 
{z-index: 1;}

.button-form:hover 
{-webkit-box-shadow: 0px 0px 30px 20px #ffdb00;box-shadow: 0px 0px 30px 20px #ffdb00;border-color:#ffdb00;}

.button-form:hover .bg-height 
{height:100%;top:0%;z-index: -1;}
 
.button-form:hover .btn-txt 
{color:black}
/*Final Contact*/


/* Animation for Moving Background Button neon */
@-webkit-keyframes moveInnerBg {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
 
@keyframes moveInnerBg {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
/* Final Animation for Moving Background Button neon*/


.animacontato
{
    animation-name: contatoanimation;
    animation-duration: 13s;
    animation-delay: 5s;
}

@keyframes contatoanimation
{
    0%
    {
      background-color:transparent;
    }
    50%
    {
        background-color:black;
    }
    100%
    {
        background: rgba(0,0,0,.8);
    }
}