body 
{
	padding: 0;
	margin:0;
	font-family: 'Signika', sans-serif;
	background:url(../Imagens/Esqueceu.png);
	background-size: cover;
	background-repeat:no-repeat; 
}

.form
{
	font-family: 'Signika', sans-serif;
	position: relative;
	top:100px;
	z-index: 1;
	background: #FFFFFF;
	opacity: 99%;
	max-width: 260px;
	margin: 200px auto 100px;
	padding: 10px 45px 30px 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius: 10px;
}

form p 
{
	font-size: 15px;
	padding: 1px;
	text-align: center;
}

form input
{
	outline: 0;
	border-radius: 10px;
	background: yellow;
	width: 100%;
	color: black;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
	font-family: 'Signika', sans-serif;
	font-weight: bold;
}

.form input:hover
{
	background-color: black;
	font-family: 'Signika', sans-serif;
	font-weight: bold;
	color: #ffdb00;
	transition: all 1s ease 0s;
}

.form button
{
	text-transform: uppercase;
	outline: 0;
	border-radius: 10px;
	background: black;
	width: 100%;
	border: 0;
	padding: 15px;
	color: yellow;
	font-family: 'Signika', sans-serif;
	font-weight: bold;
	font-size: 14px;
	cursor:pointer;
}
