.buymoto
{background-color:black;}

#information
{display: flex;justify-content: center;}

.card
{
	background: transparent;
	width: 270px;
	height: 400px;
	margin: 10px;
	border-radius:  15px;
	border: 1px solid white;
}




.card-image
{height:  170px;margin-bottom: 15px;background-size: cover;}

.mototitulo
{
	font-weight: bold;
	color: white;
	text-align: center;
	font-size: 15px;
}

.motovendedor
{text-align:center;font-weight: bold;color: white}

.motodescricao
{text-align: center;}

.car-1
{background-image: url(../Imagens/Motovenda/motovenda01.jpg);border-radius: 18px; }

.car-2
{background-image: url(../Imagens/Motovenda/motovenda02.jpg);border-radius: 18px;}

.car-3
{background-image: url(../Imagens/Motovenda/motovenda03.jpg);border-radius: 18px;}

.motoum, .motodois, .mototres
{border: 1px solid white;color: white;}





