/* Heigth */

html,body
{height: 100%;}

.block
{min-height: 70%;padding-top: 94px;}

p, h2
{color: white;}


[data-anime]
{
    transition: 3s;
}

[data-anime="sntxt"]
{
   transform: translate3d(-200px, 0px, 0px);
}

[data-anime="sncarousel"]
{
    transform: translate3d(200px, 0px, 0px);
}

[data-anime="rotationbuy"]
{
    transform: rotateY(100deg);
}

[data-anime].teste
{
   transform: translate3d(0px, 0px, 0px);
   
}




/*Initial Color*/
.yellow-logo
{background-color: #ffdb00;}

.btn-large:hover 
{background-color:#ffdb00;}
/*Final Color*/


/*Initial About us*/
.about 
{background-image: url(../Imagens/Sobrenos/snimgback.jpg); background-repeat: no-repeat;background-size: cover;}

.about h2
{font-size: 2rem;color: white; text-transform: uppercase;}

.about h2::after 
{content: ''; display: block; width:100px; border-top:1px solid #ffdb00;margin:15px auto;}

.about p 
{line-height: 1.8rem;text-align: justify;}

.carousel .indicators .indicator-item.active 
{background-color: black;}

.carousel .indicators .indicator-item 
{display: inline-block;position: relative;cursor: pointer;height: 10px;width: 10px;margin: 24px 4px;
background-color: #ffdb00;-webkit-transition: background-color .3s;transition: background-color .3s;border-radius: 50%;}

/*Final About us*/

